h1 {
text-align: center;
padding: 40px;
font-family: 'Fleur De Leah', cursive;
font-weight: 500;
font-size: 100px;
}
h2{
    text-align: center;
   font-family: 'Rye', cursive;
 
}
h3{
    font-size: 70px;
}
h4{
    text-align: center;
    font-family: 'Rye', cursive;}

.mirror{
    display: block;
    margin: 0 auto;
text-align: center;

}

.weather-city{
position: relative;
bottom: 888px;
}

.weather-temp{
    position: relative;
    bottom: 892px;
    font-family: 'Rye', cursive;
  
    
}

.weather-details{
position: relative;
bottom: 898px;
}

li{
text-transform: capitalize;
    list-style: none;
    text-align: center;
    margin: 0;
font-family: 'Corben', cursive;
line-height: 40px;
padding-right: 10px;

}

